
capstone-mongo/obj/Debug/net6.0/staticwebassets/msbuild.capstone-mongo.Microsoft.AspNetCore.StaticWebAssets.props
capstone-mongo/obj/Debug/net6.0/staticwebassets.pack.json
capstone-mongo/obj/Debug/net6.0/staticwebassets.development.json
capstone-mongo/obj/Debug/net6.0/staticwebassets.build.json
capstone-mongo/obj/Debug/net6.0/capstone-mongo.csproj.FileListAbsolute.txt
capstone-mongo/bin/Debug/net6.0/capstone-mongo.staticwebassets.runtime.json
